.C {
    margin: 0 auto;
}

.custom-card {
    padding-top: 5px;
border-left-width: 0.8px;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 5px;
border-right-width: 0.8px;
right: 0px;
  }
  